.circle {
  display: inline-block;
  background-color: orange;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 5px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(0);
  }
}

.circle {
  animation: bounce 0.8s infinite ease-in-out; /* Faster speed */
}

#ball-1 {
  animation-delay: 0s;
}
#ball-2 {
  animation-delay: 0.1s;
}
#ball-3 {
  animation-delay: 0.2s;
}
#ball-4 {
  animation-delay: 0.3s;
}

