/* App.css */
.popup-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#f8f9fa; /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader-gif {
  width: 80px; /* Adjust size */
  height: 80px;
}
