.homepage {
  text-align: center;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  min-height: 60%; 
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.Oiscthead {
  color: #e83c54; /* Use bold font color for headers */
  font-size: 1.8em;
  margin-bottom: 10px;
}

.htexts {
  color: #080c24; /* Regular text color */
  font-size: 1.2em;
  line-height: 1.6;
}

.paragraph {
  margin: 20px auto 5px; /* Adjust the bottom margin to 10px */
  max-width: 800px;
  line-height: 1.8;
  font-size: 1em;
}

strong {
  color: #e83c54; /* Bold font color */
  font-weight: bold;
}

a {
  color: #e83c54; /* Use the bold color for links */
  text-decoration: underline;
}

.PClogo {
  max-width: 100%; /* Scale the image to fit the container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Center the image as a block element */
  margin: 0 auto; /* Center the image horizontally */
}

.bapsCh {
  max-width: 50%;
  height: auto;
  margin-top: 4em;
}

body {
    background-color: #f3f3f3;
}