.pdf-container {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Makes sure the content is scaled down to fit */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .iframe-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  
  
  /* This CSS is for Past ___> Image of Scorecard */


  /* This is for Backup  */